@model System.Collections.Generic.List<ASPNET108.Models.Movie>

@{
    ViewBag.Title = "title";
}


<div>
    <h1>電影列表</h1>

    <a href="/Movies/New" class="btn btn-primary" role="button">新增電影</a> <br /><br />

    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>片名</th>
                <th>類型</th>
                <th>庫存量</th>
                <th>刪除影片</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                            movie.Name,
                            "Edit",
                            "Movies",
                            new {id = movie.Id},
                            null)
                    </td>
                    <td>
                        @movie.Genre.Name
                    </td>
                    <td>
                        @movie.NumberInStocks
                    </td>
                    <td>
                        <button data-movie-id="@movie.Id" class="btn-link js-delete">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts
{
    <script>

        $(document).ready(function () {

            $("#customers").DataTable({
                language:
                {
                    "url":"/localization/Chinese.json"
                }
            });

            $(".js-delete").on("click",
                function() {
                    if (confirm("確認要刪除嗎?")) {
                        var button = $(this);

                        $.ajax({
                            url: "/movies/delete/" + button.attr("data-movie-id"),
                            method: "post",
                            success: function() {
                                button.parents("tr").remove();
                                location.reload();
                            },
                            fail: function() {
                                alert("執行失敗....");
                            }
                        });
                    }
                }
            );
        });
    </script>

}
