@model ASPNET108.Models.Customer

    @{
        ViewBag.Title = "title";
    }

    <h2>請輸入顧客資料</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group" >
        
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(m=>m.Name)

    </div>

}


<form action="/Customers/Save" method="post">
        姓名: <input type="text" name="name" /> <br />
        生日: <input type="text" name="birthDate" /> <br />
        訂閱電子報: <input type="checkbox" name="isSubcribedToNewsLetter" /><br />
        會員等級: <input type="text" name="membershipType" /> <br />
        <br />
        <input type="submit" name="submit" value="儲存" />

    </form>


