@using ASPNET108.Models
@model IEnumerable<Customer>

@{
    ViewBag.Title = "title";
}

<div>
    <h1>客戶清單</h1>

    <a href="/Customers/New" class="btn btn-primary" role="button">新增客戶</a> <br /><br />

    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>姓名</th>
                <th>租片</th>
                <th>會員等級</th>
                <th>刪除會員</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                            customer.Name,
                            "Edit",
                            "Customers",
                            new {id = customer.Id},
                            null)
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-rent">租片</button>
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {


            $("#customers").on("click",
                ".js-rent",
                function () {
                    window.location.href = "/rentals/new/" + $(this).attr("data-customer-id");
                });

            $("#customers").DataTable({
                language:
                {
                    "url":"/localization/Chinese.json"
                }
            });

            $(".js-delete").on("click",
                function() {
                    if (confirm("確認要刪除嗎?")) {
                        var button = $(this);

                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "post",
                            success: function() {
                                button.parents("tr").remove();
                                location.reload();
                            },
                            fail: function() {
                                alert("執行失敗....");
                            }
                        });
                    }
                }
            );
        });
    </script>

}
